root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.{yml,md}]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[*.swift]
indent_style = tab
indent_size = 4
